/*
	GERAL ↴
*/

* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

/*
	BARRA SUPERIOR ↴
*/

header {
	display: flex;
	flex-direction: row;
	justify-content: right;
	padding: 13px;
}

header a {
	text-decoration: none;
	color: #3f3f3f;
}

header .bar_gmail {
	padding-right: 20px;
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
}

header .bar_imagens {
	padding-right: 30px;
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
}

header .google_apps img {
	padding-right: 25px;
	padding-top: 9px;
}
 
header .bar_login {
	padding: 10px;
	width: 100px;
	background-color: #2c7de9;
	color: white;
	border: 1px solid #2c7de9;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
}

header .bar_login:hover {
	background-color: rgb(80, 148, 237);
	border: 1px solid rgb(80, 148, 237);
}

header .bar_gmail:hover {
	text-decoration: underline;
}

header .bar_imagens:hover {
	text-decoration: underline;
}

/*
	ÁREA GOOGLE ↴
*/

article .container_google {
	display: flex;
	height: 440px;
	flex-direction: column;
	text-align: center;
}

article  img {
	text-align: center;
	padding-left: 560px;
	padding-bottom: 20px;
	padding-top: 60px;
}

article  input {
	width: 550px;
	height: 43px;
	border-radius: 20px;
	border: 1px solid #b9b9b960;
	outline: none;
	padding-left: 20px;
	font-size: 17px;
}

article  input:hover {
	box-shadow: 2px 2px #b9b9b960;
}

article  .bar_center {
	display: flex;
	flex-direction: row;
	padding-left: 500px;
}

article .search_google,
article  .luck_google {
	border: 1px solid #e7e4e431;
	background-color: #e7e4e431;
	color: #3f3f3f;
	border-radius: 5px;
	padding: 8px;
	width: 120px;
	margin-top: 40px;
	margin-left: 18px;
}

article .search_google:hover {
	border: 1px solid #dadce0;
}

article .luck_google:hover {
	border: 1px solid #dadce0;
}

article  .bar_center a {
	text-decoration: none;
	display: flex;
}

/*
	ÁREA RODAPÉ ↴
*/

footer .bar_botton {
	background-color: #f2f2f2;
	width: 100%;
	height: 47px;
	margin-top: 28px;
}

footer .bar_botton2 {
	display: flex;
	flex-direction: row;
	background-color: #f2f2f2;
	width: 100%;
	height: 47px;
}

footer .bar_botton2 a {
	display: flex;
	text-decoration: none;
}

footer .bar_botton3 {
	padding-left: 480px;
}

footer .first_line {
	padding: 15px;
	padding-left: 30px;
	color: #70757a;
	font-size: 14px;
	border-bottom: 1px solid #9a9fa571;
}

footer .second_line {
	padding: 15px;
	padding-left: 30px;
	color: #70757a;
	font-size: 14px;
}

footer .second_line2 {
	padding: 15px;
	padding-left: 30px;
	color: #70757a;
	font-size: 14px;
	justify-items: left;
}

footer .second_line:hover, footer .second_line2:hover {
	text-decoration: underline;
}

/*
	ÁREA RESPONSIVA ↴
*/

@media (max-width: 600px) {

	/*
		ÁREA GOOGLE ↴
	*/

	article .container_google {
		height: 630px;
	}

	article .container_google img {
		padding-bottom: 20px;
		padding-top:200px;
		padding-left: 90px;
	}

	article input {
		width: 380px;
	}

	article .bar_center {
		padding-left: 40px;
	}

	/*
		ÁREA RODAPÉ ↴
	*/

	footer .first_line {
		font-size: 11px;
	}

	footer .second_line:first-child {
		font-size: 11px;
		padding-left: 30px;
	}
	
	footer .second_line {
		padding-left: 2px;
		font-size: 11px;
	}

	footer .second_line2:first-child {
		padding-left: 5px;
		font-size: 11px;
	}
	footer .second_line2 {
		padding-left: 2px;
		font-size: 11px;
	}

	footer .bar_botton3 {
		position: absolute;
		padding-left: 25px;
		width: 387px;
		margin-top: 47px;
		background-color: #f2f2f2;
		border-top: 1px solid #9a9fa571;
	}
}
