* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

.bar_top {
	display: flex;
	flex-direction: row;
	justify-content: right;
	padding: 13px;
}

.bar_gmail {
	padding-right: 20px;
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
}

.bar_imagens {
	padding-right: 30px;
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
}

.bar_login {
	padding: 10px;
	width: 100px;
	background-color: #2c7de9;
	color: white;
	border: 1px solid #2c7de9;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
}

.google_apps img {
	padding-right: 25px;
	padding-top: 9px;
}

.bar_gmail:hover {
	text-decoration: underline;
}

.bar_imagens:hover {
	text-decoration: underline;
}

.bar_login:hover {
	background-color: rgb(80, 148, 237);
	border: 1px solid rgb(80, 148, 237);
}

.bar_top a {
	text-decoration: none;
	color: #3f3f3f;
}

.container_google {
	display: flex;
	height: 440px;
	flex-direction: column;
	text-align: center;
}

.container_google img {
	text-align: center;
	padding-left: 560px;
	padding-bottom: 20px;
	padding-top: 60px;
}

input {
	width: 550px;
	height: 43px;
	border-radius: 20px;
	border: 1px solid #b9b9b960;
    outline: none;
    padding-left: 20px;
    font-size: 17px;
}

input:hover {
	box-shadow: 2px 2px #b9b9b960;
}

.bar_center {
	display: flex;
	flex-direction: row;
	padding-left: 500px;
}

.search_google,
.luck_google {
	border: 1px solid #e7e4e431;
	background-color: #e7e4e431;
	color: #3f3f3f;
	border-radius: 5px;
	padding: 8px;
	width: 120px;
	margin-top: 40px;
	margin-left: 18px;
}

.search_google:hover {
	border: 1px solid #dadce0;
}

.luck_google:hover {
	border: 1px solid #dadce0;
}

.bar_center a {
	text-decoration: none;
	display: flex;
}

.bar_botton {
	background-color: #f2f2f2;
	width: 100%;
	height: 47px;
}

.bar_botton2 {
	display: flex;
	flex-direction: row;
	background-color: #f2f2f2;
	width: 100%;
	height: 47px;
}

.bar_botton2 a {
	display: flex;
	text-decoration: none;
}

.bar_botton3 {
	padding-left: 480px;
}

.first_line {
	padding: 15px;
	padding-left: 30px;
	color: #70757a;
	font-size: 14px;
	border-bottom: 1px solid #9a9fa571;
}

.second_line1, .second_line2, .second_line3, .second_line4 {
	padding: 15px;
	padding-left: 30px;
	color: #70757a;
	font-size: 14px;
}

.second_line {
	padding: 15px;
	padding-left: 30px;
	color: #70757a;
	font-size: 14px;
	justify-items: left;
}

.second_line:hover {
	text-decoration: underline;
}

.second_line1:hover {
	text-decoration: underline;
}

.second_line2:hover {
	text-decoration: underline;
}

.second_line3:hover {
	text-decoration: underline;
}

.second_line4:hover {
	text-decoration: underline;
}

@media (max-width: 600px) {
    .container_google img {
        padding-bottom: 20px;
        padding-top: 60px;
        padding-left: 100px;
    }
    
    input {
        width: 400px;
    }

    .bar_center {
        padding-left: 75px;
    }

    .second_line2, .second_line3, .second_line4 {
        padding-left: 10px;
    }

    .second_line4 {
        width: 180px;
    }

    .bar_botton3 {
        position: absolute;
        width: 100%;
        padding-left: 10px;
        margin-top: 45px; 
        background-color: #f2f2f2;
        border-top: 1px solid #9a9fa571;
    }
}